<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>AMS Project</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/back/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/back/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/back/css/style.css}" rel="stylesheet">
</div>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img th:src="@{/back/images/logo.png}" alt=""> </b>
                    <span class="logo-compact"><img th:src="@{/back/images/logo-compact.png}" alt=""></span>
                    <span class="brand-title">
                        <img th:src="@{/back/images/logo-text.png}" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
       <div th:replace="fragments/headerBack :: header"/>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
      <div th:replace="fragments/sidebarBack :: sidebar"/>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Update ArticLE</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->
<h2 align="center">Update article</h2>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" th:action="@{/article/update}" th:object="${article}" method="post" enctype="multipart/form-data" >
                                        <div class="form-group row">
											<input type="hidden" th:field="*{id}"/>
                                            <label class="col-lg-4 col-form-label" for="label">Libellé <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" th:field="*{label}" class="form-control" id="label" name="label" placeholder="Enter a Label..">
                                                <span th:if="${#fields.hasErrors('label')}" th:errors="*{label}" class="text-danger"></span>
                                            </div>
                                            
                            
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="price">Prix <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" th:field="*{price}" class="form-control" id="price" name="price" placeholder="Enter a price..">
                                                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="pricePromo">Prix Promotion <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" th:field="*{pricePromo}" class="form-control" id="pricePromo" name="pricePromo" placeholder="Enter a price Promo..">
                                                <span th:if="${#fields.hasErrors('pricePromo')}" th:errors="*{pricePromo}" class="text-danger"></span>
                                            </div>
                                        </div>
                                         <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="description">Description <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" th:field="*{description}" class="form-control" id="description" name="description" placeholder="Enter a description..">
                                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="quantiteStock">Quantité Stock <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" th:field="*{quantiteStock}" class="form-control" id="quantiteStock" name="quantiteStock" placeholder="Enter quantité Stock..">
                                                <span th:if="${#fields.hasErrors('quantiteStock')}" th:errors="*{quantiteStock}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="dateExpiration">Date Expiration <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" th:field="*{dateExpiration}" class="form-control" id="dateExpiration" name="dateExpiration" placeholder="Enter la date D'expiration'..">
                                                <span th:if="${#fields.hasErrors('dateExpiration')}" th:errors="*{dateExpiration}" class="text-danger"></span>
                                            </div>
                                        </div>
                                       <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="photoFace">Photo Face <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
												<input class="form-control" type="file" id="photoFace" name="files" multiple>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="photoFace">Photo Profil <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
												<input class="form-control" type="file" id="photoProfil" name="files1" multiple>
                                            </div>
                                        </div>
                                        
                                        
                                      
                                 
                                      <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="fournisseur">Select Fournisseur <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                  <div class="form-group">
                                            <select name="fournisseurId" class="form-control" >
                                                <option  th:each="fr: ${fournisseurs}" 
							    th:value="${fr.id}"
							    th:text="${fr.name}" 
							    th:selected="(${fr.id} == ${idFournisseur})"
							     />
                                            </select>
                                        </div>                                            </div>
                                        </div>
                                       
                                        
                                       
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
      <div th:replace="fragments/footerBack :: footer"/>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/back/plugins/common/common.min.js}"></script>
    <script th:src="@{/back/js/custom.min.js}"></script>
    <script src="@{/back/js/settings.js}"></script>
    <script th:src="@{/back/js/gleek.js}"></script>
    <script th:src="@{/back/js/styleSwitcher.js}"></script>

    <script th:src="@{/back/plugins/validation/jquery.validate.min.js}"></script>
    <script th:src="@{/back/plugins/validation/jquery.validate-init.js}"></script>

</body>

</html>